<!DOCtype>
<html ng-app="shopping_cart">
<head>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<p>This is Home Page</p>

<div ng-controller="home_controller">



    <nav-bar></nav-bar>
    

</div>
    
    <div ng-controller="products_controller">
        
        
        <div item-list></div>
        
        
        
        
<!--
    <ol> 
    <li ng-repeat="product in productList">     
    {{product.prod_name}}
        {{product.price}}
        
        
        </li>
        
        
        </ol>
-->
    
    </div>

















<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/js/shopping_cart.js"></script>
<script type="text/javascript" src="/js/controllers/home_controller.js"></script>
<script type="text/javascript" src="/js/services/product_type_service.js"></script>
<script type="text/javascript" src="/js/directives/leftNav.js"></script>
<script type="text/javascript" src="/js/directives/itemList.js"></script>    
<script type="text/javascript" src="/js/controllers/product_list_controller.js"></script>
<script type="text/javascript" src="/js/services/product_list_service.js"></script>    



</body>
</html>